*{
    width: 970px;
    margin: 0 auto;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}

img {
    width: 30%;
    height: 200px;   
    border: 2px solid black;
    margin: 15px 10px;
}

button {
    background-color: hotpink;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 150px;
    height: 50px;
    display: block;
}